@model IEnumerable<WebApplication1.Models.Category>
<div id="floatBG">

    @foreach (var category in Model)
    {
<a href="@Url.Action("List","Cars",new { categoryName = category.Name })">@category.Name</a>            }
    @*           Nazwa akcji ^     ^Nazwa kontrolera (bez Controller)*@
    @*Note: moze sie nie ladowac czesc statyczna (wynika to z braku czesci dynamicznej)*@
</div>