body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-color: chocolate;
    margin: 0;
}

#menu {
    text-align: right;
    height: 300px;
    padding: 30px;
    background-image: url("AutoBMW.jpg");
    background-size: cover;
    font-size: 50px;
}

a {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
}

    a:hover {
        text-shadow: none;
    }

table {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

#stopka {
    font-size: 20px;
    text-align: right;
    padding: 30px;
    background-color: brown;
}

#floatBG {
    background-image: url("AutoBMW.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 250px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
ul {
    list-style-type: none;
}

#tableSzczegoly {
    text-align: left;
    font-size: 30px;
    padding: 2%;
}

    #tableSzczegoly img {
        width: 400px;
    }

#carsFromCategory {
    font-size: 20px;
    background-color: brown;
    width: 250px;
    padding: 30px;
}

#obrazek {
    text-align: center;
}